@font-face {
  font-display: swap;
  font-family: 'Circular';
  font-style: normal;
  font-weight: normal;
  src: url('book.woff2') format('woff2'), url('book.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Circular';
  font-style: normal;
  font-weight: 900;
  src: url('black.woff2') format('woff2'), url('black.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  src: url('medium.woff2') format('woff2'), url('medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Circular';
  font-style: normal;
  font-weight: bold;
  src: url('bold.woff2') format('woff2'), url('bold.woff') format('woff');
}
