// fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// global

body {
  @apply bg-white text-black cursor-default;
}

a {
  @apply transition-colors text-primary hover:text-primary-dark active:text-primary-light;
}

form {
  @apply flex flex-col items-start;

  label {
    @apply mb-8 last:mb-0;

    & > span {
      @apply block mb-2 text-gray-600 font-medium;
    }
  }

  button,
  input {
    @apply appearance-none h-14 outline-none focus:outline-none transition-colors;
  }

  button {
    @apply bg-primary text-white hover:bg-primary-dark active:bg-primary-light font-medium px-8 self-start;
  }

  input {
    @apply p-4 w-full lg:w-80 bg-gray-200 hover:bg-gray-100 focus:bg-gray-100;
  }
}

// layout

.layout {
  @apply flex flex-col min-h-screen;

  &.landing {
    @apply container mx-auto;

    & > header,
    & > main,
    & > footer {
      @apply m-8;
    }
  }

  & > main {
    @apply flex-1;
  }
}

// components

.spinner {
  .one,
  .two,
  .three {
    animation: spinner 1.4s infinite ease-in-out both;
  }
  .one {
    animation-delay: -0.32s;
  }
  .two {
    animation-delay: -0.16s;
  }
}

.resume-data {
  h2 {
    @apply font-semibold text-xl;
  }

  label {
    @apply block mt-4;

    span {
      @apply block mb-2 font-medium text-gray-600;
    }

    input {
      @apply w-full bg-gray-100 p-3 transition-colors focus:bg-gray-50 focus:outline-none;
    }
  }
}

// animations

@keyframes spinner {
  0%,
  80%,
  100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}
